.header {
  grid-area: h;
  background-color: limegreen;
}

.header img {
  width: auto;
  height: 70px;
}
.loginBlock {
  float: right;
}

.loginBlock a {
  color: white;
}

.loginSpan{
 color: white;
 margin-left: 5px;
}